<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<array>
        <string>She</string>
        <string>He</string>
        <string>What</string>
        <string>Us</string>
        <string>We</string>
        <string>Him</string>
        <string>There</string>
        <string>Them</string>
        <string>They</string>
        <string>Your</string>
        <string>Here</string>
        <string>Who</string>
        <string>You</string>
        <string>Where</string>
        <string>How</string>
	</array>
    <key>Level2</key>
    <array>
        <string>READ</string>
        <string>DANCE</string>
        <string>CRAWL</string>
        <string>HUG</string>
        <string>KICK</string>
        <string>KISS</string>
        <string>JUMP</string>
        <string>WALK</string>
        <string>RUN</string>
        <string>DRINK</string>
        <string>SIT</string>
        <string>SLEEP</string>
        <string>WAVE</string>
        <string>WINK</string>
        <string>YAWN</string>
    </array>
    <key>Level3</key>
    <array>
        <string>SMILE</string>
        <string>POINT</string>
        <string>AIRPLANE</string>
        <string>CAR</string>
        <string>CRANE</string>
        <string>EGG</string>
        <string>FLOWER</string>
        <string>GLASS</string>
        <string>HAT</string>
        <string>TRAIN</string>
        <string>JUICE</string>
        <string>PEN</string>
        <string>QUILT</string>
        <string>RABBIT</string>
        <string>SHOES</string>
    </array>
    <key>Level4</key>
    <array>
        <string>TRUCK</string>
        <string>TALL</string>
        <string>DOOR</string>
        <string>TIME</string>
        <string>HOUSE</string>
        <string>UPPER</string>
        <string>COMPUTER</string>
        <string>WORM</string>
        <string>WATER</string>
        <string>WALL</string>
        <string>WINTER</string>
        <string>RADIO</string>
        <string>YELLOW</string>
        <string>MIRROR</string>
        <string>ZEBRA</string>
    </array>
    <key>Level5</key>
    <array>
        <string>ALLIGATOR</string>
        <string>BAT</string>
        <string>BEAR</string>
        <string>BEE</string>
        <string>BIRD</string>
        <string>BISON</string>
        <string>BULL</string>
        <string>BUTTERFLY</string>
        <string>CAMAL</string>
        <string>CAT</string>
        <string>COW</string>
        <string>CHICKEN</string>
        <string>DEER</string>
        <string>DUCK</string>
        <string>DOLPHIN</string>
    </array>
    <key>Level6</key>
    <array>
        <string>PILLOW</string>
        <string>FISH</string>
        <string>FLY</string>
        <string>FOX</string>
        <string>FROG</string>
        <string>FRIDGE</string>
        <string>GECKO</string>
        <string>GOAT</string>
        <string>WINDOW</string>
        <string>GOOSE</string>
        <string>CRADLE</string>
        <string>HAMSTER</string>
        <string>HORSE</string>
        <string>LAMP</string>
        <string>KOALA</string>
    </array>
    <key>Level7</key>
    <array>
        <string>LION</string>
        <string>LIZARD</string>
        <string>CABLE</string>
        <string>GREEN</string>
        <string>OWL</string>
        <string>PANDA</string>
        <string>PARROT</string>
        <string>PENGUIN</string>
        <string>PIG</string>
        <string>PURPLE</string>
        <string>PUPPY</string>
        <string>RABBIT</string>
        <string>RAT</string>
        <string>HELMET</string>
        <string>SQUARE</string>
    </array>
    <key>Level8</key>
    <array>
        <string>DRILL</string>
        <string>SHARK</string>
        <string>SHEEP</string>
        <string>NAIL</string>
        <string>HAMMER</string>
        <string>SNAKE</string>
        <string>SPIDER</string>
        <string>SAW</string>
        <string>STAG</string>
        <string>SWAN</string>
        <string>TIGER</string>
        <string>RAKE</string>
        <string>WHALE</string>
        <string>WOLF</string>
        <string>ZEBRA</string>
    </array>
    <key>Level9</key>
    <array>
        <string>BUBBLE</string>
        <string>COIN</string>
        <string>DUSTER</string>
        <string>CREAM</string>
        <string>CUSHION</string>
        <string>MOBILE</string>
        <string>REMOTE</string>
        <string>SWITCH</string>
        <string>TISSUE</string>
        <string>STAPLER</string>
        <string>BOLTS</string>
        <string>MONEY</string>
        <string>HANGER</string>
        <string>BROOM</string>
        <string>BLOCKS</string>
    </array>
</dict>
</plist>
